body {
  background-color: #ffffff;
}

a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  color: #ee6c4d;
  font-weight: 500;
}

p {
  font-family: "Barlow", sans-serif;
}

li {
  font-family: "Barlow", sans-serif;
}

.titulos {
  font-family: "Archivo", sans-serif;
}

#foto {
    float: left;
    width: 255px;
    margin-right: 15px;
}

#my-name {
    text-align: center;
}

div {
    border: 1px solid red;
}

.perfil-container {
    height: 290px;
}