body {
  background-color: #ffffff;
}

a {
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  color: #ee6c4d;
  font-weight: 500;
}

p {
  font-family: "Barlow", sans-serif;
}

li {
  font-family: "Barlow", sans-serif;
}

.titulos {
  font-family: "Archivo", sans-serif;
}

.perfil-image {
  border-radius: 5%;
}